colors = {
  border: #787878,
  cancel: #ff3170,
  cart: {
    text: #fff,
    headerText: #b0b0b0,
    bg: #000,
    summaryBG: #1f1f1f
  },
  button: {
    text: #fff,
    gradientLight: #d60041,
    gradientDark: #a90040
  },
  items: {
    bg: #fff,
    shadow: #888,
    heading: #ab7829,
    price: #b0b0b0,
    border: #b0b0b0,
    add: #d60041,
    hover: #000
  },
  item: {
    text: #000,
    textSecondary: #787878,
    navPrimary: #000,
    navSecondary: #d60041,
    shadow: #aaa
  },
  checkout: {
    text: #000,
    textSecondary: #787878,
    bg: #fff,
    border: #b0b0b0
  }
}
